@import "@/../static/_globalvariables.scss";

#about.main-image {
  background-color: #0b1e3e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%230b1e3e' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%2311264b' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23162f59' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%231c3867' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23224175' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23284a84' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  border-radius: 0px 0px 100px 100px;
}