@import "@/../static/_globalvariables.scss";

nav {
  position: fixed;
  z-index: 9;
  width: 100%;

  .hamburger-menu {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 100px;
    height: 30px;
    border-radius: 500px;
    background-color: $primary-color;
  }
}
