@import "@/../static/_globalvariables.scss";
.classes {
  width: 80%;
  margin: auto;

  .classes-list {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .class {
    width: 48%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #dadada;
    background: none;
  }

  .class.selected {
    width: 48%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    background: $dark-blue;
    color: $primary-color;
  }

  .name-search {
    width: 98%;
    margin: auto;
    display: block;
    font-size: 1rem;
    border-radius: 50px;
    border: 1px solid gray;
    text-align: center;
    padding: 0.5rem 0rem;
    color: $primary-font-color;
    background: url("../../../img/search-icon.svg") no-repeat;
    background-position: left;
  }

  .name-search::placeholder {
    font-size: 1rem;
  }
}
