@import "@/../static/_globalvariables.scss";
#subsection {
  margin-bottom: 100px;
  h2 {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
  }

  h2::after {
    content: "";

    width: 80%;
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    right: 0;
    margin: auto;
    height: 3px;
    background: $cyan;
  }
}
