@import "@/../static/_globalvariables.scss";
.positions {
  margin-top: $global-margin-top;
  h3,
  p {
    text-align: center;
  }

  .person {
    position: relative;
  }

  .position-text {
    padding: 1.5rem 0;
  }

  .carousel-bottom {
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-evenly;
  }

  #circle1.mini-decorator {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 10%;
    left: 0;
    border: 3px solid #cadaea;
  }

  #circle2.mini-decorator {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 10%;
    right: 0;
    border: 2px solid #2476c2;
  }

  #circle3.mini-decorator {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    bottom: 10%;
    left: 5%;
    border: 5px solid #cadaea;
  }

  .container {
    background: black;
    width: 85vw;
    height: 85vw;
    max-width: 350px;
    max-height: 350px;
    position: relative;
    margin: auto;
    background: linear-gradient(180deg, #679ed1 0%, #082b4b 100%);
  }

  .slick-list {
    height: 85vw;
    width: 85vw;
    position: relative;
  }

  .slick-list::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 10000px $primary-color;
  }
}
