@import "../../../../static/_globalvariables.scss";

.desktop-navbar {
  display: none;
}

.current-page-btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.mobile-navbar {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 50px;
  animation: fadeIn 1s;
  // background: rgba(255,255,255,0.5);

  .exit-navbar-btn {
    position: absolute;
    right: 0;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-color: #fefefe;
    color: #262626;
    text-align: center;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    border: none;
    animation: fadeInDown 0.9s;
    font-size: 1.5rem;
    padding: 0px;
    line-height: 32px;
    display: inline-block;
    margin: auto;
  }

  #active.hamburger-menu {
    width: 175px;
  }

  .hamburger-menu {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1rem;

    img {
      height: 1.2rem;
      width: 1.2rem;
    }

    a {
      font-size: 1.2rem;
      display: flex;
      justify-content: space-evenly;
      text-decoration: none;
      padding: 0.3rem 0.5rem;
      background-color: $primary-color;
      color: $primary-font-color;
      border-radius: 500px;
      text-align: center;
      margin-bottom: 6px;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);

      span {
        padding-left: 0.5rem;
      }

      img {
        margin: auto 0;
      }
    }

    #filler {
      opacity: 0;
      height: 0;
    }

    .active-link {
      color: $primary-color;
      background: $dark-blue;
      border: 1px solid $primary-color;

      img {
        filter: brightness(100);
      }
    }
  }

  #link2 {
    animation: fadeInDown 0.3s;
  }

  #link3 {
    animation: fadeInDown 0.5s;
  }

  #link4 {
    animation: fadeInDown 0.7s;
  }
}

@media screen and (min-width: $tablet-landscape) {
  .mobile-navbar {
    display: none;
  }

  .desktop-navbar {
    display: block;

    .hamburger-menu {
      position: fixed;
      right: 0;
      display: flex;
      z-index: 99;
      top: 15px;
      right: 15px;
      background: $primary-color;
      border-radius: 50px;
      padding: 5px;
      box-shadow: 0px 0px 6px rgba(13, 31, 77, 0.25);

      a {
        padding: 0.3rem 1rem;
        font-size: 1rem;
        text-decoration: none;
        display: flex;
        color: $primary-font-color;

        img {
          height: 1rem;
          padding-right: 0.5rem;
          margin: auto;
        }
      }
    }
  }

  .active-link {
    background-color: $dark-blue;
    color: $primary-color !important;
    height: 100%;
    border-radius: 50px;

    img {
      filter: brightness(100);
    }
  }
}
