@import "@/../static/_globalvariables.scss";
.slide-up {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  // Styling for News
  #news-content {
    height: 90vh;
    background: $primary-color;
    font-family: "Open Sans", sans-serif;

    .news-title {
      font-size: 2rem;
      margin: 0;
      padding: 0.5rem 0;
      text-align: left;
    }

    p {
      text-align: left;
      font-size: 1.1rem;
      line-height: 1.5rem;
      padding: 0.5rem 0;
    }

    img {
      width: 100%;
      animation: fadeIn 1s;
    }

    .content-markup {
      height: 95%;
      overflow: scroll;
    }

    .close-news-btn {
      margin-bottom: 50px;
      margin: 50px auto;
      margin-top: 25px;
      display: block;
      border: none;
      background: none;
      padding: 0.5rem 1.5rem;
      border: 1px solid #808080;
    }
  }

  // Styling for Class Content
  #class-content {
    height: 65vh;
    background-color: $darkest-blue;

    h4,
    li {
      color: $primary-color;
      position: relative;
    }

    h4 {
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #ff8845;
      line-height: 0.1em;
      margin: 10px 0 20px;
    }
    h4 span {
      background: $darkest-blue;
      padding: 0 10px;
    }

    img {
      width: 3rem;
      height: 3rem;
      margin: auto;
      display: block;
      margin-bottom: 25px;
    }

    .content-markup {
      height: 80%;
    }
  }

  // Styling for both News and Classes
  .content {
    box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.15);
    width: 100vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    animation: slideInUp 0.5s;

    .close-btn {
      width: 100%;
      border-radius: 25px 25px 0 0;
      padding: 1rem 0;
      border: none;
      background: $darkest-blue;

      svg {
        margin: auto;
        height: 100%;
      }
    }

    .content-markup {
      width: 88%;
      margin: auto;
      margin-top: 1rem;

      h4 {
        text-align: center;
      }
      ul {
        padding: 0;
        text-align: center;
        line-height: 1.5rem;
        height: 65%;
        overflow: scroll;
        li {
          list-style-type: none;
        }
      }
    }
  }
}
