@import "../../../../static/_globalvariables.scss";


.gallery {
  position: relative;
  background: #f8f8f8;
  width: 100%;
  max-width: $max-width;
  margin: auto;
  display: block;
  margin-top: $global-margin-top/3;
  padding-bottom: $global-margin-top/3;

  h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 0.5rem;
  }

  button {
    height: 40px;
    position: absolute;
    width: 40px;
    border: none;
    background: none;
    border: 1px solid #999999;
    margin: auto;
    border-radius: 50%;
    display: flex;

    svg {
      width: 70%;
      height: auto;
      margin: auto;
    }

    .right-arrow {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }

  .prev-carousel-btn {
    left: -50px;
    top: -6rem;
    bottom: 0;
    display: none;
  }

  .next-carousel-btn {
    right: -50px;
    top: -6rem;
    bottom: 0;
    display: none;
  }

  .instagram-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin: auto;
  }

  .slick-initialized {
    overflow: visible !important;
  }

  .instagram-img {
    max-height: 350px;
    img {
      width: 47vw;
      height: 47vw;
      object-fit: cover;
      margin-top: 3px;
    }
  }

  .instagram-slide {
    width: 95vw !important;
    max-width: $max-width;
    display: inline-block;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between !important;
    margin: auto;
  }
  .slick-dots {
    bottom: 15px;
  }

  .slick-list {
    padding-bottom: 50px;
  }
}

.modal-img {
  width: 100%;
  height: 100%;
  display: block;
}

.modal-caption {
  background-color: #020613;
  color: $primary-color;
  padding: 0.75rem;
  max-height: 7rem;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media screen and (min-width: $tablet) {
  .instagram-img {
    width: 33%;
    margin-top: 5px;
    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }
  }

  .gallery .slick-dots {
    bottom: 80px;
  }
  .slick-list {
    padding-bottom: 0 !important;
  }
}

@media screen and (min-width: $tablet-landscape) {
  .gallery {
    padding-bottom: 50px;
  }

  .gallery .slick-dots {
    bottom: 0px;
  }
}

@media screen and (min-width: $desktop) {
  .gallery {
    padding-bottom: 150px;

    .prev-carousel-btn,
    .next-carousel-btn {
      display: block;
    }
    .slick-list {
      height: 700px;
      .slick-track {
        height: 700px;
      }

      .instagram-slide {
        height: 700px;
      }

      .instagram-img {
        height: 49% !important;
      }
    }
  }

  .gallery .slick-dots {
    bottom: -50px;
  }
}
