@import "@/../static/_globalvariables.scss";
.gallery {
  background: #f8f8f8;
  width: 100%;
  max-width: $max-width;
  margin: auto;
  display: block;
  margin-top: 25px;
  padding-bottom: 50px;

  h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 0.5rem;
  }

  .instagram-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin: auto;
  }

  .slick-initialized {
    overflow: hidden;
  }

  .instagram-img {
    img {
      width: 47vw;
      height: 47vw;
      object-fit: cover;
      margin-top: 3px;
    }
  }

  .instagram-slide {
    width: 95vw !important;
    max-width: $max-width;
    display: inline-block;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between !important;
    margin: auto;
  }
  .slick-dots {
    bottom: 15px;
  }

  .slick-list {
    padding-bottom: 50px;
  }
}

.modal-img {
  width: 100%;
  height: 100%;
  display: block;
}

.modal-caption {
  background-color: #020613;
  color: $primary-color;
  padding: 0.75rem;
  max-height: 7rem;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.exit-modal-btn {
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  margin: auto;
  display: block;
  height: 40px;
  width: 40px;
  padding: 0;
  margin-top: 10px;
  background: rgba(2, 6, 19, 0.9);
  color: $primary-color;
}

@media screen and (min-width: $tablet) {
  .instagram-img {
    width: 32%;
    margin-top: 10px;
    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }
  }

  .gallery .slick-dots {
    bottom: 80px;
  }
  .slick-list {
    padding-bottom: 0 !important;
  }
}

@media screen and (min-width: $tablet-landscape) {
  .gallery .slick-dots {
    bottom: 120px;
  }
}
