@import "@/../static/_globalvariables.scss";

#landing.mid-section {
  margin: auto;
  position: relative;
  // Different margin-top than global-margin-top to give a little more breathing space between top section and mid section
  margin-top: 100px;

  .img-decorator {
    position: relative;
    margin-bottom: 0.5rem;

    // Decorators for the images
    #box1.decorator-box {
      position: absolute;
      bottom: 0;
      z-index: -1;
      width: 100%;
      height: 50%;
      background: linear-gradient(180deg, #26649d 0%, #144775 100%);
    }

    #box2.decorator-box {
      position: absolute;
      width: 90%;
      height: 55%;
      bottom: 0;
      border: 3px solid #ffa553;
      z-index: -2;
    }

    #box3.decorator-box {
      position: absolute;
      width: 80px;
      height: 80px;
      bottom: 15%;
      left: -3%;
      transform: rotate(30deg);
      border: 3px solid #26649d;
      z-index: 2;
    }

    #box4.decorator-box {
      position: absolute;
      width: 70px;
      height: 70px;
      top: 15%;
      right: 8%;
      transform: rotate(45deg);
      background: #26649d;
      z-index: -2;
    }

    #box5.decorator-box {
      position: absolute;
      width: 70px;
      height: 70px;
      top: 25%;
      left: 5%;
      transform: rotate(60deg);
      background: #26649d;
      opacity: 40%;
      z-index: -2;
    }

    #circle1.decorator-circle {
      position: absolute;
      content: "";
      width: 100px;
      height: 100px;
      background: #dfecf9;
      z-index: -1;
      bottom: 40%;
      opacity: 60%;
      left: 0;
      border-radius: 50%;
    }

    #circle2.decorator-circle {
      position: absolute;
      width: 70px;
      height: 70px;
      background: #26649d;
      z-index: -1;
      bottom: 40%;
      right: 0;
      opacity: 60%;
      border-radius: 50%;
    }

    #circle3.decorator-circle {
      position: absolute;
      width: 150px;
      height: 150px;
      background: #26649d;
      z-index: 2;
      bottom: 5%;
      right: -10%;
      opacity: 90%;
      border-radius: 50%;
    }

    #circle4.decorator-circle {
      position: absolute;
      width: 60px;
      height: 60px;
      background: #26649d;
      z-index: 2;
      top: 5%;
      right: 20%;
      border-radius: 50%;
    }

    img {
      z-index: 3;
    }
  }
}

@media screen and (min-width: $tablet-landscape) {
  .card-left-align,
  .card-right-align {
    .text {
      padding: 0rem 3rem;
    }
  }
}

@media screen and (min-width: 1600px) {
  // Columns that appear to each side
  #landing.mid-section::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100px;
    background: $dark-blue;
    left: -150px;
    top: 0;
    border-radius: 25px;
  }

  #landing.mid-section::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100px;
    right: -150px;
    top: 0;
    background: $dark-blue;
    background-attachment: fixed;
    background-size: contain;
    border-radius: 25px;
  }
}

@media screen and (min-width: 1920px) {
  // Columns that appear to each side
  #landing.mid-section::before {
    width: 150px;
    left: -200px;
  }

  #landing.mid-section::after {
    width: 150px;
    right: -200px;
  }
}
