@import "@/../static/_globalvariables.scss";
.news {
  margin-top: $global-margin-top;
  display: block;
  background: #f8f8f8;
  max-width: $max-width;
  margin: auto;

  h1 {
    text-align: center;
    padding-top: 2rem;
    margin: 0;
  }

  p {
    margin: 0;
    text-align: center;
    padding-bottom: 0.5rem;
  }
  .thumbs.animated {
    display: none !important;
  }

  .news-text {
    margin: 0;
    h2 {
      font-size: 1rem;
    }
  }
  // .slick-track{
  //   width: 100% !important;
  // }
  .slick-initialized {
    overflow: hidden;
  }

  .slick-dots{
    bottom: 0 !important;
  }

  .slick-list {
    height: 320px;
    width: 95%;
    margin: auto;

    img {
      width: 100%;
      height: calc(285px - 1.5rem);
      object-fit: cover;
    }

    h2 {
      text-align: center;
      padding-top: 0.5rem;
      width: 80%;
      margin: auto;
    }
  }
  .slick-dots li.slick-active button:before{
    color: $darkest-blue;
  }
}

@media screen and (min-width: $tablet) {
  .slick-list {
    width: 100% !important;
  }
}