#about {
    h2{
        position: relative;
    }
    h2::after{
        content: "";
        position: absolute;
        height: 4px;
        width: 90%;
        margin: auto;
        background: #B4F6FF;
        bottom: -2px;
        left: 0;
        right: 0;
        text-align: center;
    }
}