@import "@/../static/_globalvariables.scss";
#philantrophy {
  .flip-card {
    width: 90vw;
    height: 70vw;
    background: gray;
    margin: auto;
    position: relative;
    margin-top: 15px;
  }

  .front-side {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .overlay {
      background-color: black;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.4;
    }

    .container {
      width: 75%;
      text-align: center;
      margin: auto;
      position: absolute;
      z-index: 3;
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;

      img {
        width: 70px;
        margin: 0 auto;
      }

      h2 {
        font-size: 1.5rem;
        color: $primary-color;
      }
    }
  }

  .flip-card:last-child {
    margin-bottom: 15px;
  }

  .back-side {
    display: none;
  }

  .flip-card:hover .back-side {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    animation: fadeIn 0.5s;

    .container {
      width: 75%;
      text-align: left;
      margin: auto;
      img {
        width: 70px;
      }

      h2,
      p {
        color: $primary-color;
      }

      h2 {
        font-size: 1.5rem;
        margin-top: -1rem;
      }
    }
  }
}
