// Color Palette
$primary-color: #fefefe;
$primary-font-color: #262626;

$primary-blue: #26649d;
$dark-blue: #14285a;
$darkest-blue: #0d1f4d;
$cyan: #b4f6ff;

// Breakpoints
$mobile-landscape: 640px;
$tablet: 768px;
$tablet-landscape: 1024px;
$desktop: 1280px;
$big-desktop: 1920px;

// Misc.
$global-margin-top: 75px;
$global-top-section-border-radius: 50px;
$max-width: 1200px;

// Overall
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

body {
  background-color: $primary-color;
}

svg {
  display: block;
}

button,
input {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2rem;
  color: $primary-font-color;
  margin: 0;
}

p {
  color: $primary-font-color;
  font-size: 1rem;

  margin: 0;
}

// Common Mid Section Stylings
.mid-section {
  max-width: $max-width;
  margin: auto;
}

// Common between two Components
.news-gallery-container {
  background: #f8f8f8;
}

// Carousel Stylings
.slick-arrow.slick-next,
.slick-arrow.slick-prev {
  display: none !important;
}

// Modal Stylings
.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.ReactModal__Content.ReactModal__Content--after-open {
  width: 90vw;
  animation: fadeIn 0.3s;
  padding: 0px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
}

.exit-modal-btn {
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  margin: auto;
  display: block;
  height: 40px;
  width: 40px;
  padding: 0 !important;
  margin-top: 10px;
  background: rgba(2, 6, 19, 0.9);
  color: $primary-color;
}

// Card template stylings
.card-left-align,
.card-right-align,
.card-center-align {
  margin: auto;
  width: 80%;
  margin-bottom: 75px;

  h2,
  p {
    position: relative;
    padding-top: 0.5rem;
  }
}

// Left Card
.card-left-align {
  margin-left: 0;

  h2,
  p {
    text-align: left;
    padding-left: 1rem;
  }

  span {
    width: 100%;
    position: relative;
  }

  span::after {
    content: "";
    position: absolute;
    border-bottom: 4px solid #b4f6ff;
    width: 100%;
    display: block;
    margin: auto;
    margin-left: 0;
    bottom: -2px;
  }
}

// Center card
.card-center-align {
  text-align: center;
  // Override the width
  width: 70%;

  img {
    width: 75%;
    max-width: 350px;
    max-height: 200px;
    margin: auto;
  }

  span {
    width: 100%;
    position: relative;
  }

  span::after {
    content: "";
    position: absolute;
    border-bottom: 4px solid #b4f6ff;
    width: 100%;
    display: block;
    margin: auto;
    margin-left: 0;
    left: 0;
    right: 0;
    bottom: -2px;
  }
}

// Right Card
.card-right-align {
  margin-right: 0;

  h2,
  p {
    text-align: right;
    padding-right: 1rem;
  }

  span {
    width: 100%;
    position: relative;
  }

  span::after {
    content: "";
    position: absolute;
    border-bottom: 4px solid #b4f6ff;
    width: 100%;
    display: block;
    margin: auto;
    margin-left: 0;
    right: 0;
    bottom: -2px;
  }
}

.exec,
.chairs,
.classes-page {
  .header {
    text-align: center;
    margin-bottom: 1rem;

    span {
      width: 100%;
      position: relative;
    }

    span::after {
      content: "";
      position: absolute;
      border-bottom: 4px solid #b4f6ff;
      width: 100%;
      display: block;
      margin: auto;
      margin-left: 0;
      right: 0;
      bottom: -2px;
    }
  }
}

// Images in top section
#about {
  .main-image {
    background-color: #0b1e3e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%230b1e3e' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%2311264b' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23162f59' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%231c3867' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23224175' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23284a84' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    border-radius: 0px 0px $global-top-section-border-radius
      $global-top-section-border-radius;
  }
}

#philantrophy {
  .main-image {
    background-color: #0b1e3e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='1666.7' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    border-radius: 0px 0px $global-top-section-border-radius
      $global-top-section-border-radius;
  }
}

#brothers.section {
  overflow: hidden;

  .main-image {
    background-color: #284a84;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%2323437b' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%231e3d72' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%231a3768' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%2315305e' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23122a54' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%230e2449' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%230b1e3e' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
  }
}

.exec {
  margin: 50px 0;
  h2 {
  }
}

@media screen and (min-width: $tablet) {
  .card-left-align,
  .card-right-align {
    display: flex;
    margin: auto;

    .img-decorator {
      width: 50%;
    }

    .text {
      width: 50%;
      margin: auto;
      margin-bottom: 10%;
    }

    #circle3.decorator-circle {
      right: 2%;
    }
  }

  .card-right-align {
    .img-decorator {
      order: 2;
    }

    #box3.decorator-box {
      left: 2%;
    }
  }
}

@media screen and (min-width: $tablet-landscape) {
  .exec {
    .header {
      text-align: right;
      font-size: 3rem;
    }

    .header span::after {
      left: auto;
      width: 2000px;
    }
  }

  .chairs {
    .header {
      text-align: left;
      font-size: 3rem;
    }

    .header span::after {
      left: 0;
      width: 100vw;
    }
  }

  .classes-page {
    .header {
      text-align: left;
      font-size: 3rem;
    }

    .header span::after {
      left: 0;
      width: 2000px;
    }
  }

  .card-left-align,
  .card-right-align {
    width: 100% !important;
  }

  .card-center-align {
    width: 100%;
    display: flex;
    text-align: left;

    .react-reveal.text {
      margin: auto 0;
    }

    .text {
      margin: auto;
      padding-left: 3rem;
    }

    img {
      max-height: 300px;
      margin: auto 0;
      padding: 2rem;
    }

    h2 {
      font-size: 3rem;
      padding-top: 0;
    }
    p {
      padding-top: 0;
    }

    span::after {
      border: none;
    }

    .text {
      position: relative;
    }

    .text::before {
      width: 5px;
      height: 200%;
      left: 1rem;
      top: -50%;
      content: "";
      position: absolute;
      background: #ebebeb;
    }
  }

  .card-center-align:hover {
    .text::before {
      width: 5px;
      height: 200%;
      left: 1rem;
      top: -50%;
      content: "";
      position: absolute;
      background: $cyan;
      animation: fadeIn 1s;
    }
  }

  #right-align.card-center-align {
    img {
      order: 2;
    }

    .text {
      text-align: right;
    }
  }

  #left-align.card-center-align {
    img {
      order: 1;
    }

    .text {
      text-align: left;
      order: 2;
    }
  }
}

@media screen and (min-width: $desktop) {
  .card-center-align:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1);
  }

  .card-center-align {
    transform: scale(0.8);

    img {
      padding: 2rem;
    }

    p {
      padding-right: 1rem;
    }
  }
}
